@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f2653;

  --color-navy: #0f2653;
  --color-navy-dark: #0a1c3f;
  --color-gold: #fdd202;
  --color-gold-dark: #e0b800;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navy: var(--color-navy);
  --color-navy-dark: var(--color-navy-dark);
  --color-gold: var(--color-gold);
  --color-gold-dark: var(--color-gold-dark);
  --font-sans: var(--font-archivo);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
